.item-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.photo-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 25px;
}

.photo-container {
    cursor: pointer;
    position: relative;
    text-align: center;
}

.reduce-opacity {
    opacity: .05;
}

.photo-description {
    font-style: italic;
    align-items: center;
    font-size: 25pt;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-delete-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}
