.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 2em;
  color: white;
  margin-bottom: em;
}

.App-title {
  font-size: 1.5em;
}

.sticky-container {
  position: sticky;
  top: 0;
  z-index: 2;
}