.gallery-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 1em;
    box-shadow: 0 10px 6px -6px rgb(168, 167, 167);
}